/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("/Users/stephaniewu/Desktop/bitmaker/projects/bm-css-site-replication/starter-code/images/bgtile.png");
  background-repeat: repeat-x;
}

main {
  position: relative;
}

img {
  max-width: 100%;
}

h1 {
  color: #06365f;
}

p {
  margin: 10px auto;
}

.container {
  width: 60%;
  position: absolute;
  top: 100px;
  left: 20%;
  clear: both;
  overflow: hidden;
}

.left {
  float: left;
  width: 35%;
}

.right {
  width: 65%;
  float: right;
  padding-left: 50px;
  position: relative;
}

.textbox {
  padding: 35px;
  background-image: url(/Users/stephaniewu/Desktop/bitmaker/projects/bm-css-site-replication/starter-code/images/frame.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #1c5380;
  clear: both;
  padding-top: 25px;
  letter-spacing: 0.3px;
}

footer li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
  bottom: 50px;
}

.copyright {
  color: #bbb;
  margin-left: 20px;
}

.buttons {
  margin-top: 35px;
}

.inline {
  display: inline-block;
}

.banner {
  position: relative;
}

.home {
  position: absolute;
  right: 2%;
  top: 35%;
}
